
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400&display=swap');

.initial-page {
    background-image: url('background.jpg');
    background-size: cover;       
    background-position: center;   
    background-repeat: no-repeat;   
    text-align: center;
    position: relative;
    color: white;
}

.initial-page h1 {
    font-size: 65px;
    font-family: 'Playfair Display', serif;
}

.initial-page p {
    font-size: 25px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.scroll-indicator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll-indicator.hide {
    opacity: 0;
}

.arrows {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: arrow-bounce 2s infinite ease-in-out;
}

@keyframes arrow-bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(8px);
    }
}
.arrow-icon {
    margin: 1px 0;
    width: 60px;
    height: 60px;
}